header {
	font-family: 'Arial';
	font-size: 0.8em;
	background-color: #4169E1;
	color: white;
	border-bottom: solid 2px #08A364;
	position: relative;
	height: 80px;
}

.logo{
	position: absolute;
	left: 10px;
	top: 5px
}

.menu{
	position: absolute;
	right: 10px;
	top: 25px;
}

header .logo img{
	width: 150px;
}



.menu ul li{
	display: inline-block;
	text-align: right;
	padding: 5px 10px 10px 10px;
}

.menu ul li:hover{
	background-color: #08A364;
}


fieldset{
	border:1px solid #08A364;
	position: relative;
	width: 50%;
	margin: 0 auto;
}
.control{
	padding: 10px;
	font-family: 'Dosis', sans-serif;
}
label{
	display: block;
}
span{
	color: red;
}
input[type=text]:focus{
	outline: 0 none;
	border: solid 1px #08A364;
}
input[type=submit]{
	border:0px;
	background-color: #00de8b;
	font-family: 'Dosis', sans-serif;
	font-size: 1.2em;
	color: white;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	box-shadow: 1px 1px 2px black;
}
input[type=submit]:hover{
	background-color: #08A364;
}
article{
	width: 90%;
	background-color:#F0F0F0; 
	margin: 0 auto;
	padding: 10px;
}

video{
	width: 80%;
}

#videos{
	display: flex;
	text-align: center;
}
.video1{
	width: 50%;
}

.video2{
	width: 50%;
}

@media screen and (max-width: 900px){
	#videos{
		display: inline-block;
	}
	.video1{
		width: 100%;
	}

	.video2{
		width: 100%;
	}
}